.paper-list2, .student-list {
    padding-left:25px;
}

.student-list > li {
    padding-left:10px;
}

.paper-list2 > li {
    list-style-type:disc;
    padding-left:10px;
}

.paper-list2 > li:not(:last-child) {
    margin-bottom:25px;
}

.paper-list2 > li > p {
    margin: 5px 0;
}

.theorem {
    background-color:#def;
    border:3px solid #00c;
    margin:15px 0;
}

.theorem-header {
    background-color:#00c;
    color:white;
    font-weight:bold;
    padding:5px;
}

.theorem p {
    padding: 0 10px;
}