.paper-list2, .student-list {
    padding-left:25px;
}

.student-list > li {
    padding-left:10px;
}

.paper-list2 > li {
    list-style-type:disc;
    padding-left:10px;
}

.paper-list2 > li:not(:last-child) {
    margin-bottom:25px;
}

.paper-list2 > li > p {
    margin: 5px 0;
}