.linkbutton {
  font-size:1em;
  background:none;
  border:none;
  padding:0;
  color:blue;
  text-decoration:underline;
  cursor:pointer;
}

svg {
  width:300px;
  height:300px;
}

text {
  text-anchor:middle;
  font-size:5px;
}

polyline {
  fill:none;
}

polygon {
  fill:white;
}

.controls-column {
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:15px;
  width:250px;
  margin:0 auto 16px;
  position:sticky;
  top:0px;
  grid-area:controls;
  z-index:200;
}

input[type=range] {
  width:250px;
  display:block;
  margin:3px 0;
}

.slider {
  margin-bottom:15px;
}
.slider:last-child {
  margin-bottom:0;
}

figure {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display:inline-block;
  width:300px;
  box-sizing:border-box;
  text-align:center;
  margin:0 5px 15px;
  vertical-align:middle;
  position:relative;
  z-index:100;
}

.figgroup {
  text-align:center;
}

figcaption {
  font-size:12px;
  padding:14px;
  border-top:1px solid #e0e0e0;
}
